# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Capacitor
android/*
!android/gradle/
!android/gradlew
!android/gradlew.bat
!android/build.gradle
!android/settings.gradle
!android/gradle.properties
!android/app/
android/app/*
!android/app/src/
android/app/src/*
!android/app/src/main/
android/app/src/main/*
!android/app/src/main/res/
android/app/src/main/res/*
!android/app/src/main/res/mipmap-*/
!android/app/src/main/java/
android/app/src/main/java/*
!android/app/src/main/java/com/
android/app/src/main/java/com/*
!android/app/src/main/java/com/smartscreen/
android/app/src/main/java/com/smartscreen/*
!android/app/src/main/java/com/smartscreen/weather/
!android/app/build.gradle
!android/app/src/main/AndroidManifest.xml
ios/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
